@use '@angular/material' as mat;
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.datepicker-overrides((
   calendar-navigation-button-icon-color: #2E2C2C,
   calendar-body-label-text-color: #2E2C2C,
   toggle-active-state-icon-color: #9B70E8,
   calendar-container-background-color: white,
   calendar-date-text-color: #2E2C2C,
   calendar-header-text-color: #2E2C2C,
   calendar-period-button-text-color: #2E2C2C,
   calendar-period-button-icon-color: #2E2C2C,
   calendar-date-hover-state-background-color: #9B70E8,
   calendar-date-selected-state-background-color: #9B70E8,
   calendar-date-today-selected-state-outline-color: #9B70E8,
   calendar-date-selected-state-text-color: white,
   calendar-date-today-outline-color: #9B70E8
  ));

  @include mat.form-field-overrides((
    outlined-input-text-color: #2E2C2C,
    outlined-label-text-color: #9B70E8,
    outlined-outline-color: #9B70E8,
    outlined-focus-label-text-color: #2E2C2C,
    outlined-focus-outline-color: #2E2C2C,
    outlined-hover-label-text-color: #2E2C2C,
    outlined-hover-outline-color: #2E2C2C,
    outlined-input-text-placeholder-color: #2E2C2C,
    outlined-caret-color: #2E2C2C,
    outlined-outline-width: 2px,
    outlined-container-shape: 1rem,
  ));

  @include mat.select-overrides((
    panel-background-color: white,
    enabled-trigger-text-color: #2E2C2C
  ));
}

html, body { height: 100%; }
body { margin: 0; padding: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
  background-color: #F1F1F1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.purple-icon, .white-icon {
  scale: 1.5;
}

.white-icon {
  color: #fff;
}

.purple-icon {
  color: #9B70E8;
}

main {
  flex: 1;
  .pagination {
    text-align: center;
    .pages {
      ul {
        padding: 0;
        list-style: none;

        li {
          cursor: pointer;
          display: inline-block;
          margin: 1rem 0;

          a {
            opacity: .4;
          }

          .active {
            opacity: 1;
            color: #9B70E8;
            border-bottom: 1px solid #9B70E8;
          }
        }

        li:not(:last-child) {
          margin-right: .5rem;
        }
      }
    }
  }
}

.dialog-btn-confirm {
  background-color: green;
  color: white;

  &:hover {
    background-color: rgb(1, 104, 1);
  }
}

.dialog-btn-cancel {
  background-color: red;
  color: white;

  &:hover {
    background-color: rgb(180, 0, 0);
  }
}
