.toolbar {
  padding: 2rem 3rem;
  background-color: #F1F1F1;
  padding-top: 3rem;

  .spacer {
    flex: 1 1 auto
  }

  .user {
    display: flex;
    justify-content: flex-end;
  }

  .signIn-signUp {
    display: flex;
    text-decoration: none;
    padding: 1.3rem;
    border-radius: .7rem;
    color: #9B70E8;
    background-color: #F1F1F1;
    margin-right: 1rem;
    font-weight: bold;
    font-size: .9rem;
    transition: .5s;

    mat-icon {
      margin-right: .3rem;
    }
  }

  .btn-user {
    display: flex;
    align-items: center;
    background-color: #F1F1F1;
    color: #9B70E8;
    font-weight: 600;
    border: none;
    cursor: pointer;
    margin-right: .5rem;
  }

  .btn-header {
    color: #9B70E8;
    width: 9.5rem;
    background-color: #F1F1F1;
    font-size: .9rem;
    border-radius: .7rem;
    padding: 1.3rem;
    transition: .5s;
  }

  img {
    scale: 1.5;
  }

  .signIn-signUp.active-link,
  .btn-header.active-link {
    background-color: #9B70E8 !important;
    color: white;

    mat-icon {
      color: white;
    }
  }

  .signIn-signUp, .btn-header {
    &:hover {
        background-color: #9B70E8;
        color: white;
        mat-icon {
          color: white;
        }
      }
  }
}


.mobile-toolbar {
  display: none;
}


@media screen and (max-width: 768px) {
  .mobile-toolbar {
    display: flex;
    background-color: #9B70E8;
    align-items: center;


      .spacer {
      flex: 1 1 auto
    }

    .white-icon {
      scale: 1.1;
      background-color: #9B70E8;
      border: none;
    }

    a {
      .white-icon {
        scale: 1.1;
      }
    }

    a:not(:last-child) {
      margin-right: 1rem;
    }
  }

  .toolbar {
    display: none;
  }
}
