.toolbar {
  padding: 2rem 3rem;
  background-color: #F1F1F1;
  padding-top: 3rem;

  .spacer {
    flex: 1 1 auto
  }

  .signIn-signUp {
    text-decoration: none;
    height: 1.5rem;
    display: flex;
    align-items: center;
    width: 8rem;
    color: #9B70E8;
    margin-right: .2rem;
    font-weight: bold;
    font-size: .9rem;
    cursor: pointer;

    p {
      line-height: 1.1;
      margin-left: .3rem;
    }

    mat-icon {
      margin-bottom: .1rem;
    }
  }

  .btn-header {
    color: #F1F1F1;
    background: #9B70E8;
    font-size: .9rem;
    border-radius: 1.5rem;
    padding: 1.3rem;
  }

  img {
    scale: 1.5;
  }
}

.mobile-toolbar {
  display: none;
}


@media screen and (max-width: 768px) {
  .mobile-toolbar {
    display: flex;
    background-color: #9B70E8;
    align-items: center;


      .spacer {
      flex: 1 1 auto
    }

    .white-icon {
      scale: 1.1;
      background-color: #9B70E8;
      border: none;
    }

    a {
      .white-icon {
        scale: 1.1;
      }
    }

    a:not(:last-child) {
      margin-right: 1rem;
    }
  }

  .toolbar {
    display: none;
  }
}
