<mat-toolbar class="toolbar">
  <a routerLink="/" mat-icon-button>
    <img src="logo_roxa_navbar.png">
  </a>
  <span class="spacer"></span>

  <app-authorized class="user">
    <ng-container authorized>
      <button class="btn-user" matButton [matMenuTriggerFor]="menu">
        <mat-icon>person</mat-icon>
        Olá, {{ securityService.getJWTClaim('name').split(' ')[0] }}
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/user/edit', securityService.getJWTClaim('email')]">Editar perfil</button>
        <app-authorized role="admin">
          <ng-container authorized>
            <a routerLink="/acessories" mat-menu-item>Gerenciar estoque</a>
            <a routerLink="/users" mat-menu-item>Gerenciar usuários</a>
          </ng-container>
        </app-authorized>
        <button mat-menu-item (click)="securityService.logout()">Sair</button>
      </mat-menu>
    </ng-container>

    <ng-container notAuthorized>
      <a routerLink="/login" routerLinkActive="active-link" class="signIn-signUp" mat-raised-button>
        <mat-icon class="purple-icon">person</mat-icon>
        <span>Entre ou cadastre-se</span>
      </a>
    </ng-container>
  </app-authorized>

  <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" mat-raised-button class="btn-header">
    <mat-icon class="purple-icon">shopping_cart_checkout</mat-icon>
    <span>Catálogo</span>
  </a>
</mat-toolbar>


<mat-toolbar class="mobile-toolbar">
  <button class="white-icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="spacer"></span>
  <a routerLink="/" mat-icon-button class="example-icon">
    <img src="logo_branca_navbar.png">
  </a>
  <span class="spacer"></span>
  <a routerLink="/login" class="signIn-signUp">
    <mat-icon class="white-icon">person</mat-icon>
  </a>
  <a routerLink="/catalogo" class="signIn-signUp">
    <mat-icon class="white-icon">article</mat-icon>
  </a>
</mat-toolbar>
