<form (submit)="saveChanges()" [formGroup]="form">
  <div class="fields-area">
    <h3>Dados do acessório</h3>
    <label for="acessoryName">Nome do acessório*</label><br>
    <input name="acessoryName" type="text" placeholder="Ex:Colar dourado" [formControl]="form.controls.name"><br>
    @if (form.controls.name.hasError('required') && form.controls.name.dirty) {
      <span class="error">*{{ getErrorMessagesForName() }}</span><br>
    }

    <label for="acessoryPrice">Preço*</label><br>
    <input name="acessoryPrice" type="number" placeholder="R$0,00" [formControl]="form.controls.price"><br>

    <label for="acessoryCategory">Categoria*</label><br>
    <select [formControl]="form.controls.category">
      <option selected disabled value="">Selecione a categoria...</option>
      @for (category of categories; track $index) {
        <option value="{{ category }}">{{ category }}</option>
      }
    </select><br>

    <label for="acessoryDescription">Descrição</label><br>
    <textarea placeholder="Descreva seu acessório..." [formControl]="form.controls.description"></textarea>
  </div>

  <div class="picture-column">
    <div class="picture-area">
      <h3>Adicionar Imagens</h3>
      @if (!imageBase64 || imageBase64.length === 0) {
        <figure>
          <img src="camera.jpg" (click)="fileInput.click()"/>
          <input
            type="file"
            accept="image/*"
            (change)="onImageSelected($event)"
            multiple
            class="btn-image-input"
            #fileInput
          />
        </figure>
      }

      @else {
        <div class="image-preview-area">
          <figure class="main-image">
            @if (isCreation) {
              <img [src]="imageBase64[selectedImageIndex]" alt="Imagem principal" />
            }

            @else {
              <img [src]="imageUrls[selectedImageIndex]" alt="Imagem principal" />
            }
          </figure>

          <div class="thumbnail-list">
            @if (isCreation) {
              @for (image of imageBase64; track $index) {
                <div class="thumbnail-wrapper">
                  <img
                    [src]="image"
                    [class.selected]="$index === selectedImageIndex"
                    (click)="setMainImage($index)"
                    class="thumbnail"
                  />
                  <button class="delete-btn" (click)="removeNewImage($index)" type="button">×</button>
                </div>
              }
            }

            @else {
              @for (url of imageUrls; track $index) {
                <div class="thumbnail-wrapper">
                  <img
                    [src]="url"
                    [class.selected]="$index === selectedImageIndex"
                    (click)="setMainImage($index)"
                    class="thumbnail"
                  />
                  <button class="delete-btn" (click)="removeExistingImage($index)" type="button">×</button>
                </div>
              }
            }
            <figure class="thumbnail add-thumbnail">
              <img src="camera.jpg" (click)="fileInput.click()" />
              <input
                type="file"
                accept="image/*"
                (change)="onImageSelected($event)"
                multiple
                class="btn-image-input"
                #fileInput
              />
            </figure>
          </div>
        </div>
      }
    </div>

    @if (isCreation) {
      <button mat-raised-button [disabled]="form.invalid" type="submit"><mat-icon>save</mat-icon>Adicionar acessório</button>
    }

    @else {
      <button mat-raised-button [disabled]="form.invalid || form.pristine" type="submit"><mat-icon>save</mat-icon>Salvar alterações</button>
    }
    <a routerLink="/acessories" mat-raised-button><mat-icon>cancel</mat-icon>Cancelar</a>
  </div>
</form>
