.card {
  box-sizing: border-box;
  background-color: white;
  border-radius: .5rem;

  img {
    min-height: 330px;
    max-height: 330px;
    min-width: 280px;
    max-width: 280px;
    margin-bottom: -.5rem;
  }

  h2 {
    margin-bottom: -.8rem;
    color: black;
  }

  h3 {
    color: #9B70E8;
  }

  .btn-section {
    display: flex;
    justify-content: center;
    margin-bottom: .5rem;

    a {
      width: 95%;
      background-color: #9B70E8;
      color: white;
      font-weight: 500;
      text-transform: uppercase;
      border-radius: .5rem;
    }
  }

}
