@use '@angular/material' as mat;

.select {
  @include mat.form-field-overrides((
    outlined-focus-outline-color: #9B70E8,
    outlined-hover-outline-color: #9B70E8,
))};

form {
  .categories {
      background-color: #9B70E8;
      list-style: none;
      text-align: center;
      padding: 1.5rem;
      margin-bottom: 3rem;
      font-size: 18px;

      li {
        display: inline;
        margin-right: 5rem;
        color: #F1F1F1;
        padding: .5rem;
        border-radius: 1rem;
        transition: .5s;

        a {
          cursor: pointer;
        }
      }

      .selected {
        background-color: #F1F1F1;
        color: #9B70E8;
        font-weight: bold;
      }
    }

  input {
    border: 2px solid #9B70E8;
    margin-bottom: 1rem;
    padding: 0.8rem 2.5rem 0.8rem 0.8rem;
    width: 40%;
    border-radius: 2rem;
    font-size: 16px;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 1.5rem;
    background-color: white;

    &:focus {
      outline: none;
    }
  }

  span {
    font-size: 18px;
  }

  .select {
    width: 14rem;
  }

  .label {
      margin-right: .5rem;
    }

}

@media screen and (max-width: 768px) {
  .categories {
    display: none;
  }

  form {
    input {
      width: 70%;
      margin-top: 2rem;
    }
  }
}
