<div class="container">
  <header>
    <app-header></app-header>
  </header>

  <section class="search">
    <app-search (formChanged)="filter($event)"></app-search>
    <h1>Catálogo</h1>
  </section>

  <section class="card-list">
    @if (acessoryList) {
      @for (acessory of acessoryList; track $index) {
        <app-acessory-card [cardImage]="acessory.pictures[0]" [cardName]="acessory.name" [cardPrice]="acessory.price"></app-acessory-card>
      }
    }

    @else {
      <div class="noResults">
        <h2>0 resultados encontrados.</h2>
      </div>
    }
  </section>

  <section class="pages">
    <ul>
      <li (click)="firstPage()"><a><<</a></li>
      <li><a (click)="previousPage()"><</a></li>
      @for (page of pages; track $index) {
        <li><a (click)="goToPage(page)" [class.active]="page === currentPage">{{ page }}</a></li>
      }
      <li (click)="nextPage()"><a>></a></li>
      <li (click)="lastPage()"><a>>></a></li>
    </ul>
  </section>
</div>
