<div class="container">
  <header>
    <app-header></app-header>
  </header>

  <main>
    <section class="search">
      <app-search (formChanged)="filter($event)"></app-search>
      <h1>Catálogo</h1>
    </section>

    <section class="card-list">
      @if (acessoryList) {
        @for (acessory of acessoryList; track $index) {
          <app-acessory-card [cardImage]="acessory.pictures[0]" [cardName]="acessory.name" [cardPrice]="acessory.price" [cardId]="acessory.id"></app-acessory-card>
        }
      }

      @else if (!acessoryList) {
        <mat-spinner></mat-spinner>
      }

      @else {
        <div class="noResults">
          <h2>0 resultados encontrados.</h2>
        </div>
      }
    </section>

    <section class="pagination">
      <app-pagination
        [currentPage]="pagination.page"
        [recordsPerPage]="pagination.recordsPerPage"
        [totalRecords]="pagination.totalRecords || 0"
        (pageChange)="onPageChange($event)">
      </app-pagination>
    </section>
  </main>

  <footer>
    <app-footer></app-footer>
  </footer>
</div>
