<footer>
  <div class="secao">
    <div class="subsecao">
      <div class="endereco">
        <i class="fa-solid fa-location-dot"></i>
        <span> Av. Pedro Lessa, 2706 sala: 46 <br>Embaré - Santos/SP</span>
      </div>

      <span><i class="fa-solid fa-phone"></i> (13) 98201-2965</span>
    </div>

    <figure class="subsecao">
      <img src="logo_branca_navbar.png">
    </figure>

    <div class="subsecao">
      <ul>
        <li id="instagram"><a target="_blank" href="https://www.instagram.com/loloacessorios.store?igsh=ODNhcWozdThmMjdq"><i class="fa-brands fa-instagram"></i></a></li>
        <li id="whatsapp"><a target="_blank" href="https://api.whatsapp.com/send?phone=5513982012965"><i class="fa-brands fa-whatsapp"></i></a></li>
        <li id="tiktok"><a target="_blank" href="https://www.tiktok.com/@loloomakeup?_t=ZM-8uHFnWhTGtT&_r=1"><i class="fa-brands fa-tiktok"></i></a></li>
        <li id="maps"><a target="_blank" href="https://maps.app.goo.gl/rFbNAvGgKoy2vdCZ7"><i class="fa-solid fa-location-dot"></i></a></li>
      </ul>
    </div>
  </div>

  <div class="secao-2">
    <span>Lolo Acessórios Store - Todos os direitos reservados &copy; 2025</span>
  </div>
</footer>
