footer {
  width: 100%;
  color: white;
  margin-top: 2rem;
  padding-bottom: 1rem;
  background-color: #9B70E8;

  .secao {
    display: flex;
    justify-content: space-evenly;

    .subsecao {
      display: flex;
      flex-basis: 20%;
      justify-content: center;

      &:first-child {
        justify-content: space-around;
      }

      &:not(:first-child) {
        align-items: center;
      }

      &:not(:last-child) {
        margin-right: 1rem;
        flex-direction: column;
      }

      &:last-child {
        align-items: center;
      }

      ul {
        list-style: none;
        display: flex;

        li {
          margin-right: 1rem;

          a {
            font-size: 24px;
            text-decoration: none;
            background-color: white;
            border: 2px solid black;
            padding: 0.2rem 0.5rem;
            border-radius: 0.5rem;
            cursor: pointer;

            i {
              color: black;
              transition: 0.5s;
            }

            &:focus,
            &:active {
              color: #9B70E8;
            }
          }
        }

        // Hover effects
        #instagram:hover a i {
          color: #F9A8D4;
        }

        #whatsapp:hover a i {
          color: #12b34f;
        }

        #tiktok:hover a i {
          color: #69C9D0;
        }

        #maps:hover a i {
          color: #0077B5;
        }
      }
    }

    figure.subsecao {
      img {
        width: 6rem;
      }
    }

    .endereco {
      display: flex;
      align-items: baseline;
      margin-bottom: 1rem;

      span {
        margin-left: 0.5rem;
      }
    }

    span {
      &:first-child {
        margin: 1.5rem 0;
        a {
          text-decoration: none;
          color: white;
          margin-left: .5rem;
        }
      }
    }
  }

  .secao-2 {
    text-align: center;
  }
}

footer a {
  user-select: none;
  -webkit-user-select: none;
}
